
body {
	-webkit-text-size-adjust: none;
	   -moz-text-size-adjust: none;
	    -ms-text-size-adjust: none;
}
tt, .monospace {
	font-family: monospace, sans-serif;
}

/* メイン画面 */

#main {
	text-align: center;
}
#title {
	word-break: keep-all;
	font-size: 2em;
}
#main span {
	display: inline-block;
}
#main span span span {
	font-size: 2em;
}
#main tt {
	font-size: 3.25em;
}

#h12.h24, #h12.am .pm, #h12.pm .am {
	display: none;
}
#main .ms tt {
	font-size: 2.4375em;
}

/* 設定画面 */

.scroll {
	overflow-x: auto;
	overflow-y: hidden;
}
.item {
	display: inline-block;
	vertical-align: top;
	text-align: left;
}
.pre {
	white-space: pre;
}
.size {
	box-sizing: border-box;
}
.center {
	text-align: center;
}
.right, .select, .footer {
	text-align: right;
}
.disabled, .note {
	color: gray;
}

#pref {
	margin: 3em 0 1em;
}
.pref {
	max-width: 100%;
	font-size: smaller;
}
.pref input, .pref select {
	font-size: 1em;
}
.pref kbd {
	font: inherit;
}
.alt kbd {
	text-decoration: underline;
}
.hide + .hidden {
	display: none;
}

.ntp {
	white-space: nowrap;
}
.ntp label {
	display: inline-block;
}
.message {
	margin: 0.5em 1em;
	line-height: 1.2;
	font-family: sans-serif;
	white-space: normal;
}
.message label {
	display: block;
	line-height: 1.5;
	white-space: nowrap;
}
.float {
	float: right;
	margin-left: 1.2em;
}
.float + * {
	clear: both;
	margin-top: 0.5em;
}

.container, .container fieldset {
	margin-top: 0.625em;
}
.container fieldset {
	white-space: nowrap;
}
.container label, .container span,
.container .note {
	display: block;
	line-height: 1.5;
}

.select label, .select span {
	line-height: 2;
}
.select select, .select input, .box {
	width: 14em;
}
.select .small {
	width: 7em;
}
.select + * {
	margin-top: 0.25em;
}

.holidays span {
	float: left;
}
.holidays label {
	display: inline-block;
	text-align: center;
}
.holidays input {
	display: block;
}

.select .box {
	display: inline-block;
	text-align: left;
}
.box input {
	width: 3.5em;
}
.box input + input {
	padding: 0;
	width: 9em;
	vertical-align: middle;
}

.footer {
	line-height: 3;
}
.footer input {
	width: 7em;
}
