
body {
	-webkit-text-size-adjust: none;
	   -moz-text-size-adjust: none;
	    -ms-text-size-adjust: none;
}
tt, .monospace {
	font-family: monospace, sans-serif;
}

/* メイン画面 */

#main {
	text-align: center;
}
#title {
	font-size: 2em;
	word-break: keep-all;
}
#main span {
	display: inline-block;
}
#main span span span {
	font-size: 2em;
}
#main tt {
	font-size: 3.25em;
}

#h12.h24, #h12.am .pm, #h12.pm .am {
	display: none;
}
#main .ms tt {
	font-size: 2.4375em;
}

/* 設定画面 */

.scroll {
	overflow-x: auto;
	overflow-y: hidden;
}
.align > * {
	display: inline-block !important;
	text-align: left;
	vertical-align: text-top;
}
.size {
	box-sizing: border-box;
}
.float {
	float: right;
}
.clear {
	display: block;
	clear: right;
}

.sans {
	font-family: sans-serif;
}
.em {
	font-style: oblique;
}
.pre {
	white-space: pre;
}
.center {
	text-align: center;
}
.right, .selects {
	text-align: right;
}
.disabled, .note {
	color: gray;
}

.pref {
	margin-top: 2em;
}
.pref > * {
	max-width: 100%;
	font-size: smaller;
}
.pref label {
	display: inline-block;
}
.pref input, .pref select {
	font-size: 1em;
}
.pref kbd {
	font: inherit;
}
.alt kbd {
	text-decoration: underline;
}

.ntp {
	white-space: nowrap;
}
.ntp p {
	line-height: 1.2;
	white-space: normal;
}
.ntp p, .ntp form {
	margin: 0.5em 0;
	text-indent: 1em;
}
.ntp div label {
	display: block;
	margin-left: 1em;
}

.container, .container fieldset {
	margin-top: 0.625em;
}
.container fieldset {
	white-space: nowrap;
}
.container label, .selects span {
	display: block;
}

.selects {
	line-height: 2;
}
.selects select, .selects input, .param {
	width: 14em;
}
.selects .small {
	width: 7em;
}
.selects + * {
	margin-top: 0.25em;
}

.selects .param {
	display: inline-block;
	text-align: left;
}
.param input {
	width: 3.5em;
}
.param input + input {
	padding: 0;
	width: 9em;
	vertical-align: middle;
}
.selects .note {
	line-height: normal;
}

.holidays label {
	text-align: center;
}
.hidden {
	display: inline-block;
	width: 0;
	visibility: hidden;
}

.footer {
	margin: 0.625em 0;
	line-height: 2;
}
.footer label {
	line-height: normal;
}
.buttons {
	margin-left: 1em;
}
.buttons input {
	width: 7em;
}

.timecode {
	margin: 1em 0;
}
.timecode > * {
	padding: 0 1px;
	font-size: 0.625em;
}
.divs div {
	position: relative;
	margin: 1em 0;
	height: 4em;
	white-space: nowrap;
}

.divs div:before {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -1px;
	border-top: solid 2px lightgray;
	width: 100%;
}
.bar {
	position: absolute;
	top:    -1em;
	bottom: -1em;
	margin-left: -1px;
	border-left: solid 2px;
}

.timecode span {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	height: 100%;
	width: 1em;
	opacity: .5;
}
.timecode .active {
	opacity: 1;
}
.code-0 {
	border-left: solid 0.8em green;
}
.code-1 {
	border-left: solid 0.5em orange;
}
.code-2 {
	border-left: solid 0.2em red;
}
